# Project specific
NOTES.md

# Finder metadata
.DS_Store
.AppleDouble
.LSOverride

# Icon services
Icon?
._*

# Spotlight & Trash
.Spotlight-V100/
.Trashes/


# Node dependencies
/node_modules/

# Optional npm cache directory
.npm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Build output
/dist/
/build/
/out/

# Environment variables
.env
.env.*.local

# IDE / editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

